/* Font-Face */

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url('../lib/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: url('../lib/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: 'MavenPro';
    font-weight: 400;
    src: url('../lib/fonts/Maven-Pro/MavenPro-Regular.ttf');
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'MavenPro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
}

h1 {
    margin: 0;
}

/* Header */

header {
    position: sticky;
    top: 0;
    letter-spacing: 0.8px;
    background-color: #323232;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    z-index: 1000;
}

.logo {
    font-size: 40px;
    letter-spacing: -0.8px;
    color: #2eb398;
    text-transform: capitalize;
}

header .btn-toggle-menu {
    display: block;
    cursor: pointer;
}

header ul.main-menu {
    width: 220px;
    height: calc(100vh - 100%);
    position: absolute;
    top: 100%;
    right: 0;
    background: #323232;
    transform: translate(100%, 0);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

header ul.main-menu.open {
    transform: translate(0, 0);
}

header ul.main-menu li {
    margin: 0 0 10px 0;
}

header ul.main-menu a {
    display: block;
    padding: 5px 0 10px 0;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}

header ul.main-menu a:hover {
    color: #2eb398;
    box-shadow: inset 0 -6px 0 #2eb398;
}

.menu-opacity {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.575);
    transform: translate(100%, 0);
    transition: all 0.2s ease-in-out;
    z-index: 100;
}

.menu-opacity.opacity-open {
    transform: translate(0, 0);
}

@media (min-width: 780px) {
    header {
        position: static;
        height: 60px;
        padding: 0;
    }
    header .btn-toggle-menu {
        display: none;
    }
    header ul.main-menu {
        width: auto;
        height: auto;
        display: flex;
        position: static;
        margin-right: 10px;
        align-items: center;
        background: transparent;
        transform: translate(0, 0);
    }
    header ul.main-menu li {
        margin: 0;
        
        line-height: 60px;
        border-left: 1px solid #1e1e1e;
    }
    header ul.main-menu li:last-child {
        border-right: 1px solid #1e1e1e;
    }
    header ul.main-menu a {
        padding: 0 10px;
    }
    .menu-opacity.opacity-open {
        transform: translateX(0);
        transform: translateY(0);
    }
}

/* Main */

main {
    flex: 1 0 auto;
}

/* Gallery (Meme templates) */

.gallery {
    height: 0;
    overflow: hidden;
    column-count: 3;
    column-gap: 5px;
    transform: translate(100%, 0);
    transition: transform 0.5s ease-in-out;
}

.gallery.gallery-open {
    flex: 1 0 auto;
    height: auto;
    transform: translate(0, 0);
}

@media (min-width: 570px) {
    .gallery {
        column-count: 4;
    }
}

@media (min-width: 780px) {
    .gallery {
        column-count: 5;
    }
}

.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.keywords-display {
    color: white;
    background-color: rgb(252, 172, 23);
    width: 100%;
    height: 20vh;
}

.keywords-display span:hover {
    cursor: pointer;
}

.meme-editor {
    
    flex-direction: column;
    height: 0;
    overflow: hidden;
    background: #323232;
    transform: translate(-100%, 0);
    transition: transform 0.5s ease-in-out;
    z-index: 50;
}

.meme-editor.meme-editor-open {
    flex: 1 0 auto;
    height: auto;
    transform: translate(0, 0);
}

/* Text Editor */

.txt-editor {
    max-width: 300px;
    flex-grow: 1;
    order: 2;
}

/* Meme Editor - Canvas */

.meme-canvas {
    min-width: 300px;
    flex-grow: 1;
    order: 1;
    text-align: center;
}

canvas {
    border: 1px solid #323232;
}

@media (min-width: 780px) {
    .meme-editor {
        flex-direction: row;
    }
}

/* About Us */
.about {
    width: 100%;
    flex-direction: column;
    background: #2eb398;
}

.team-member {
    margin-bottom: 10px;
}

.about img {
    width: 175px;
    height: 175px;
    margin: 5px;
    border-radius: 50%;
    border: 7px solid white;
}

.about h2 {
    margin: 10px 0 0;
    color: white;
}

.about h4 {
    margin: 0 0 10px;
    color: #20816d;
}

.about ul.social-links li {
    background: #a4dbd4;
    transition: all 0.3s ease-in-out;
}

.about ul.social-links li:hover {
    background: #20816d;
}


.about ul.social-links li a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

@media (min-width: 780px) {
    .about {
        flex-direction: row;
    }
    .team-member {
        margin: 0;
    }
}

/* Footer */

footer {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    font-family: 'MavenPro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 1px solid #2eb398;
    background: #323232;
}

/* Helpers */

.container {
    max-width: 980px;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #2eb398;
}