/* Font-Face */

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url('../lib/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: url('../lib/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: 'MavenPro';
    font-weight: 400;
    src: url('../lib/fonts/Maven-Pro/MavenPro-Regular.ttf');
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'MavenPro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
}

/* Header */

header {
    position: sticky;
    top: 0;
    height: 3.75em;
    letter-spacing: 0.8px;
    background-color: #323232;
    z-index: 1000;
}

.logo {
    padding: 0 5px;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: -0.8px;
    color: #2eb398;
    text-transform: capitalize;
}

header .btn-toggle-menu {
    display: block;
    cursor: pointer;
}

header ul.main-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 220px;
    height: calc(100vh - 100%);
    background: #323232;
    transform: translate(100%, 0);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

header ul.main-menu.open {
    transform: translate(0, 0);
}

header ul.main-menu li {
    border-bottom: 1px solid #1e1e1e;
}

header ul.main-menu li:first-child {
    border-top: 1px solid #1e1e1e;
}

header ul.main-menu a {
    display: block;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    color: #2eb398;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}

header ul.main-menu a:hover {
    color: white;
    background: #2eb398;
}

.menu-opacity {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transform: translate(100%, 0);
    transition: all 0.25s ease-in-out;
    z-index: 100;
}

.menu-opacity.opacity-open {
    transform: translate(0, 0);
}

@media (min-width: 780px) {
    header {
        position: static;
    }
    header .btn-toggle-menu {
        display: none;
    }
    header ul.main-menu {
        position: static;
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        background: transparent;
        transform: translate(0, 0);
    }
    header ul.main-menu li {
        margin: 0;
        line-height: 3.75em;
        border: 0;
        border-left: 1px solid #1e1e1e;
    }
    header ul.main-menu li:last-child {
        border-right: 1px solid #1e1e1e;
    }
    header ul.main-menu li:first-child {
        border-top: 0;
    }
    header ul.main-menu a {
        padding: 0 10px;
    }
    .menu-opacity.opacity-open {
        transform: translate(100%, 0);
    }
}

/* Main */

main {
    flex: 1 0 auto;
    height: calc(100vh - 3.75em);
    background: #736e6e;
}

/* Gallery (Meme templates) */

.gallery-wrapper {
    width: 100%;
    height: 100%;
    transform: translate(200%, 0);
    transition: transform 0.5s ease-in-out;
}

ul.gallery {
    height: 80%;
    overflow-y: auto;
    padding-top: 10px;
}

/* .gallery li {
    float: left;
} */

.gallery .hexagon {
    float: left;
    margin: 51.96px 10px 10px 3px;
}

.hexagon.img-1, .hexagon.img-11, .hexagon.img-21 {
    margin-left: 100px;
}

@media (max-width: 1095px) {
    ul.gallery {
        padding: 10px 10px;
    }
    .hexagon.img-11, .hexagon.img-21 {
        margin-left: 3px;
    }
    .hexagon.img-10, .hexagon.img-19 {
        margin-left: 100px;
    }
    .hexagon.img-23 {
        margin-left: 197px;
    }
}

@media (max-width: 1018px) {
    .hexagon.img-10, .hexagon.img-19, .hexagon.img-23 {
        margin-left: 3px;
    }
    .hexagon.img-9, .hexagon.img-17 {
        margin-left: 100px;
    }
    .hexagon.img-25 {
        margin-left: 293px;
    }
}

@media (max-width: 922px) {
    .hexagon.img-9, .hexagon.img-17 {
        margin-left: 3px;
    }
    .hexagon.img-8, .hexagon.img-15, .hexagon.img-22 {
        margin-left: 100px;
    }
    .hexagon.img-25 {
        margin-left: 197px;
    }
}

@media (max-width: 824px) {
    .hexagon.img-8, .hexagon.img-15, .hexagon.img-22 {
        margin-left: 3px;
    }
    .hexagon.img-7, .hexagon.img-13, .hexagon.img-19 {
        margin-left: 100px;
    }
    .hexagon.img-25 {
        margin-left: 99px;
    }
}

@media (max-width: 728px) {
    .hexagon.img-7, .hexagon.img-13, .hexagon.img-18, .hexagon.img-19, .hexagon.img-25 {
        margin-left: 3px;
    }
    .hexagon.img-6, .hexagon.img-11, .hexagon.img-16, .hexagon.img-21 {
        margin-left: 100px;
    }
}

@media (max-width: 632px) {
    .hexagon.img-6, .hexagon.img-11, .hexagon.img-16 {
        margin-left: 3px;
    }
    .hexagon.img-5, .hexagon.img-9, .hexagon.img-13, .hexagon.img-17, .hexagon.img-25 {
        margin-left: 100px;
    }
}

@media (max-width: 536px) {
    .hexagon.img-5, .hexagon.img-9, .hexagon.img-17, .hexagon.img-21 {
        margin-left: 3px;
    }
    .hexagon.img-4, .hexagon.img-7, .hexagon.img-10, .hexagon.img-16, .hexagon.img-19, .hexagon.img-22 {
        margin-left: 100px;
    }
}

@media (max-width: 439px) {
    .hexagon.img-4, .hexagon.img-10, .hexagon.img-16, .hexagon.img-22, .hexagon.img-24  {
        margin-left: 3px;
    }
    .hexagon.img-3, .hexagon.img-5, .hexagon.img-9, .hexagon.img-11, .hexagon.img-13, .hexagon.img-15, .hexagon.img-17, .hexagon.img-21, .hexagon.img-23 {
        margin-left: 100px;
    }
}

.gallery-wrapper.gallery-wrapper-open {
    transform: translate(0, 0);
}

/* .gallery img {
    width: 100%;
    max-width: 250px;
    height: auto;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
} */

.gallery:hover .img {
    cursor: pointer;
    opacity: 0.45;
}

.gallery:hover .img:hover {
    opacity: 1;
}

.keywords-display {
    width: 100%;
    height: auto;
    padding: 10px;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(252, 172, 23);
}

.keywords-display span:hover {
    cursor: pointer;
}

/* Hexagons */

.hexagon {
    position: relative;
    width: 180px; 
    height: 103.92px;
    margin: 51.96px 0;
    /* background-image: url('../img/meme-imgs/4.jpg'); */
    background-size: auto 207.8461px;
    background-position: center;
}
  
.hex-top, .hex-bottom {
    position: absolute;
    z-index: 1;
    width: 127.28px;
    height: 127.28px;
    overflow: hidden;
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 26.36px;
}

.hex-top:after, .hex-bottom:after {
    content: "";
    position: absolute;
    width: 180.0000px;
    height: 103.92304845413264px;
    transform: rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
    transform-origin: 0 0;
    background: inherit;
}
  
.hex-top {
    top: -63.6396px;
}
  
.hex-top:after {
    background-position: center top;
}
  
.hex-bottom {
    bottom: -63.6396px;
}
  
.hex-bottom:after {
    background-position: center bottom;
}
  
.hexagon:after {
    content: "";
    position: absolute;
    top: 0.0000px;
    left: 0;
    width: 180.0000px;
    height: 103.9230px;
    z-index: 2;
    background: inherit;
}

/* Meme Editor */

.meme-editor-wrapper {
    position: absolute;
    top: 3.75em;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 3.75em);
    margin: 0 auto;
    background: #1e1e1e;
    transform: translate(-200%, 0);
    transition: transform 0.5s ease-in-out;
}

.meme-editor-wrapper.meme-editor-wrapper-open {
    transform: translate(0, 0);
}

.meme-editor {
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Meme Editor - Canvas */

.meme-canvas {
    flex-grow: 1;
    max-height: 55%;
    max-width: none;
    padding: 10px;
    text-align: center;
}

@media (min-width: 780px) {
    .meme-editor {
        flex-direction: row;
    }
    .meme-canvas {
        max-width: 50%;
        max-height: none;
    }
}

canvas {
    /* width: 100%; */
}

/* Text Editor */

ul.social-share li {
    margin-right: 10px;
}

.back-to-gallery {
    width: 100%;
}

.btn-edit {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-edit.back {
    font-family: 'MavenPro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    background-color: transparent;
    align-self: flex-start;
    margin: 10px 0;
}

.btn-edit.back:hover,
.download:hover {
    text-decoration: underline;
    color: rgb(252, 172, 23);
}

.txt-editor {
    flex-grow: 1;
    max-width: 400px;
    padding: 10px;
}

.control-box .btn-edit {
    color: black;
    background-color: white;
}

.control-box .btn-edit:hover {
    color: white;
    background-color: rgb(252, 172, 23);
}

.control-box .btn-edit,
.control-box input {
    height: 27px;
    border: 1px solid black;
}

.control-txt {
    flex-wrap: wrap;
    margin: 5px 0 20px;
}

.btn-edit.add-line {
    font-size: 1.3em;
    color: white;
    border: none;
    border-radius: 50%;
    background-color: rgb(252, 172, 23);
}

.btn-edit.add-line:hover {
    background-color: #2eb398;
}

.shadow-active {
    box-shadow: inset 1px 1px 2px 0px #736e6e;
}

.bigger-txt {
    font-size: 1.1em;
}

.smaller-txt {
    font-size: .7em;
}

.txt-shadow {
    text-shadow: -3px -1px 2px #413f3f;
}

.download {
    margin-bottom: 5px;
    color: white;
}

.user-txt-color {
    width: 30px;
}

/* About Us */

.about-wrapper {
    width: 100%;
    background: #2eb398;
}

.about {
    flex-direction: column;
}

.team-member {
    margin-bottom: 10px;
}

.about img {
    width: 175px;
    height: 175px;
    margin: 5px 10px;
    border-radius: 50%;
    border: 7px solid white;
}

.about h2 {
    margin: 10px 0 0;
    color: white;
}

.about h4 {
    margin: 0 0 10px;
    color: #20816d;
}

.about ul.social-links li {
    background: #a4dbd4;
    transition: all 0.3s ease-in-out;
}

.about ul.social-links li:hover {
    background: #6ccbbe;
}

.about ul.social-links li a {
    display: block;
    padding: 10px;
    color: #1db49f;
    text-decoration: none;
}

@media (min-width: 780px) {
    .about {
        flex-direction: row;
    }
}

/* Contact */

.contact-wrapper {
    background-color: #323232;
}

.contact {
    padding: 65px;
}

.contact h2 {
    margin: 0 0 8px;
    font-size: 30px;
    font-weight: normal;
    color: #e0e0e0;
}

.contact h3 {
    margin: 10px 0 20px;
    font-size: 18px;
    font-weight: normal;
    color: #bebebe;
}

.contact-form input {
    height: 40px;
    margin-bottom: 15px;
    padding: 0 15px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #e0e0e0;
    border: none;
    background-color: #454545;
}

.contact-form textarea {
    height: 150px;
    margin-bottom: 15px;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #e0e0e0;
    border: none;
    background-color: #454545;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #bebebe;
}

.contact-form button {
    cursor: pointer;
    align-self: flex-end;
    padding: 15px 30px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #d7fcf5;
    border: none;
    background-color: #2eb398;
    transition: all 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: #5fc9b4;
}

/* Footer */

footer {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    font-family: 'MavenPro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 1px solid #2eb398;
    background: #323232;
}

/* Helpers */

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #2eb398;
}